.logo-home {
	margin-top: 150px;
	width: 500px;
	margin-bottom: 20px;
}
.img-cet {
	margin-top: 65px;
	height: 100%;
	padding-left: 120px;
}
.img-circle {
	padding-left: 12%;
	margin-top: 50px;
}
.explore {
	margin-top: 150px;
	margin-bottom: 50px;
	padding-left: 30%;
}
h3 {
	justify-content: center;
	font-style: normal;
	font-weight: 600;
	font-size: 34px;
	line-height: 48px;
	/* identical to box height */
	color: #084b83;
}
.btn-outline-primary {
	margin-top: 50px;
	text-align: center;
	color: #084b83;
	padding: 10px 20px;
	border-radius: 20px;
	border: 2px solid #084b83;
}
